/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//
.western-header .site-header .site-name {
    max-width: 350px;
}

/* Make engd images responsive */

    img.file-default.media-element {
    height: auto !important;
    }



